*{
    padding: 0;
    margin: 0;
    font-family: 'Noto Serif', serif;
}
.sectionone{
    height: 80vh;
    width: 100%;
    background-image: url(../Images/backgrounds/landing.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;

}
.sectionone .logo{
    height: 100%;
    width: 20%;
    /* background-color: aqua; */
}
.logo img{
    height: 50px;
    margin-left: 100px;
    margin-top: 80px;
}
.sectionone .banner{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.banner p{
    font-size: 50px;
    font-weight: 100;
    color: rgb(238, 234, 234);
    padding-top: 5px;
}
.banner span{
    font-weight: 500;
    color: white;
}
.bannercontent{
    /* background-color: aqua; */
    margin-top: 70px;
}
/* End of section One */
/* Start Of section Two */
.sectiontwo{
    height: 30vh;
    width: 100%;
    background-color: aqua;
    display: flex;
    flex-direction: row;
}
.sectiontwo .time{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: wheat;
}
.time .upper{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(214, 208, 208);
    color: #272525;
}
.time .lower{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F15A29;
    color: white;
}
.time p{
    font-size: 28px;
}
.sectiontwo .breako{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../Images/foodtop/breakfast.jpg);
    background-position: center;
    background-size: cover;
}
.sectiontwo .lunch{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../Images/foodtop/lunch.jpg);
    background-position: center;
    background-size: cover;
}
.lunch .opaque{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    opacity: 0.5;
}
.sectiontwo .supper{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../Images/foodtop/dinner.jpg);
    background-position: center;
    background-size: cover;
}
.italic{
    color: white;
    font-style: italic;
    font-size: 20px;
}
.opaque p{
    color: rgb(221, 210, 210);
}
/* End Of section Two */

/* Start of section Three */
.sectionthree{
    height: 150vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sectionthree .upperdiv{
    height: 48%;
    width: 75%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.upperdiv .img{
    height: 80%;
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 1px 1px 6px #999393;
}

.upperdiv .text{
    height: 80%;
    width: 40%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
}
.text .Heading{
    font-weight: 600;
}
.text button{
    padding: 10px 25px;
    border: solid 1px #F15A29;
    color: #F15A29;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}
.arrow{
    margin-left: 10px;
}
.text h1{
    font-size: 32px;
}
.sectionthree .lowerdiv{
    height: 48%;
    width: 75%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.lowerdiv .img{
    height: 80%;
    width: 48%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 1px 1px 6px #999393;
    background-color: white;
    margin-left: 10%;
}

.lowerdiv .text{
    height: 80%;
    width: 40%; 
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
    justify-content: flex-end;
}
.lowerdiv .text button{
    padding: 10px 25px;
    border: solid 1px #F15A29;
    color: #F15A29;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 600;
}
.lowerdiv.text h1{
    font-size: 32px;
}
.lowerdiv .text .Heading{
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 30px;
}
/* End of section Three */

/* Start Of section Four */
.sectionfour{
    height: 70vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../Images/backgrounds/foodsBg.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.sectionfour .textdiv{
    height: 75%;
    width: 75%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}
.textdiv .header{
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}
.header .fastfood{
    height: 100%;
    width: 25%;
    color: #F15A29;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.header .drinks{
    height: 100%;
    width: 25%;
    color: black;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(163, 157, 157);
}
.header .chicken{
    height: 100%;
    width: 25%;
    color: black;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: solid 1px grey;
    border-right: solid 1px grey;
    background-color:rgb(163, 157, 157);
}
.header .rice{
    height: 100%;
    width: 25%;
    color: black;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(163, 157, 157);
}
.textdiv .photos{
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    /* position: relative; */
}
.photos .mshale1{
    /* position: relative;
    margin-left: 100px; */
}
.photos .mshale{
    /* position: absolute; */
    /* position: relative;
    margin-right: 100px; */
}
.photos p{
    color: #F15A29;
    margin-top: 10px;
    font-weight: 600;
}
.photos img{
    
}
/* End of section Four */

/* Start of section Five */
.sectionfive{
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.sectionfive .maindiv{
    height: 75%;
    width: 75%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 1px 1px 6px #999393;
}
.maindiv .testmony{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* background-color: aqua; */
}
.pictures{
    margin-top: 20px;
    height: 25%;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* background-color: #999393; */
}
.pictures img{
    margin: 5px;
}
.maindiv .aboutMenu{
    height: 80%;
    width: 40%;
    border-left: solid 1px rgb(196, 182, 182);
    /* background-color: aquamarine; */
}